html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: $bgColor2;
    font-size: rem(16px);
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}