.upload-image-btn,
button {
    background-color: $btnBgColor1;
    outline: none;
    border: none;
    padding: 0.4em;
    margin: 0.1em;
    cursor: pointer;

    font-weight: bold;
    border-radius: 0.2em;

    transition: 200ms;


    &:hover {
        background-color: lighten($btnBgColor1, 5%);

    }

    &.user-btn {
        border-radius: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        outline: 2px solid $bgColor4;
        place-content: start;


        .profile-img {
            width: 30px;
            aspect-ratio: 1/1;
            background-color: white;
            border-radius: 50%;
            outline: 2px solid $bgColor4;
        }

        .profile-Symbol {
            font-size: em(28px);
        }

        span {
            padding-inline-end: 0.5em;
        }
    }
}

.pagination-btn {
    background-color: $bgColor1;
    border-radius: 100vh;
    font-size: 1em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);

    &:hover {
        background-color: darken($bgColor1, 30%);
        color: white;
    }

    &.active {
        background-color: red;
        color: white;
    }

    &:disabled {
        cursor: auto;
        color: rgb(175, 175, 175);

        &:hover {
            background-color: $bgColor1;
            color: rgb(175, 175, 175);
        }
    }
}