.about {
    .main-content {
        margin-block-end: 1em;
    }
}

@include for-tablet-layout {
    .about {
        .main-content {
            display: grid;
            gap: 0.5em;
            grid-template-columns: repeat(2, 1fr);

            h3 {
                grid-column: span 2;
            }

        }
    }
}