.branches-list {
    margin: 0;

    .branch-name {
        background-color: $bgColor4;
        color: white;
        font-weight: bold;
        padding: 1em;
        cursor: pointer;

        &.active,
        &:hover {
            filter: brightness(1.2);
        }
    }

    .branch-info {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 300ms ease-in-out;

        &.active {
            grid-template-rows: 1fr;
        }

        .info-content {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 1em;
            background-color: rgb(255, 255, 255);

            div {
                padding: 0.5em;
            }
        }
    }
}