.img-uploader {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5em;

    .prev-img {
        border-radius: 50%;
        outline: solid 2px black;

        width: 80px;
        aspect-ratio: 1/1;
    }
}