.toy-preview {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;

    text-align: center;
    margin-block-end: 0.4em;

    .toy-img-container {
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            scale: 1.1;

            transition: 200ms ease-in-out;

            &:hover {
                scale: 1.3;
            }
        }
    }
}