.toy-details {
    gap: 1em;
    padding: 1em;
    border-radius: 0.1em;
    overflow: hidden;
    background-color: $bgColor1;
    outline: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .25);
    margin-block-end: 1em;

    header {
        grid-column: 2 span;
        background-color: $bgColor2;
        padding: 0.5em;

        a {
            color: $fontColor1;

            &:hover {
                color: lighten($fontColor1, 20%);
            }
        }
    }

    .toy-img-container {
        .image-loader {
            width: 100%;
            aspect-ratio: 1/1;
            background: linear-gradient(90deg, #eeeeee 25%, #dddddd 50%, #eeeeee 75%);
            background-size: 200% 100%;
            animation: shimmer 1.5s infinite linear;
        }

        img {
            grid-column: 1;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }

    }

    .toy-info {
        grid-column: 2;

        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-block-end: 1em;

        .toy-name {
            font-size: 1em;
            font-weight: bold;
            box-shadow: 0px 4px $bgColor5;
            margin-block-end: 1em;
        }

        .toy-description {
            margin-block-end: 1em;
        }

        .toy-details-table {
            tr {
                td {
                    padding: 0.5em;
                }

                :first-child:not(span) {
                    background-color: $bgColor2;
                    width: 10em;
                    font-weight: bold;
                }

                :last-child {
                    background-color: $bgColor1;
                }
            }
        }

        .popup-btn {
            font-size: 1.2em;
            margin: 0 auto;
        }
    }



}




@include for-tablet-layout {
    .toy-details {
        display: grid;
        grid-template-columns: minmax(300px, 30vw) 1fr;

        .toy-info {
            margin-block-end: 1em;

            .toy-name {
                font-size: 2em;
            }

            .toy-description {
                margin-inline-end: 10em;
            }
        }
    }
}