.user-msg {
    position: fixed;
    bottom: 1em;
    right: 1em;

    background-color: lightgray;
    padding: .5em 1em;
    font-weight: bold;
    outline: 2px solid black;
    border-radius: 0.5em;
    z-index: 4;
}

.user-msg.success {
    background-color: rgb(178, 255, 178);
}

.user-msg.error {
    background-color: rgb(255, 171, 171);
}

.user-msg button {
    float: right;
    margin: 1em;
}