.user-msg {
    position: fixed;
    bottom: 1em;
    right: 1em;

    background-color: lightgray;
    padding: .5em 1em;
    font-weight: bold;
    outline: 2px solid black;
    border-radius: 0.5em;
    z-index: 11;

    &.success {
        background-color: rgb(178, 255, 178);
    }

    &.error {
        background-color: rgb(255, 171, 171);
    }

    button {
        float: right;
        margin: 1em;
    }
}