button {
    background-color: var(--btnBgColor1);
    outline: none;
    border: none;
    padding: 0.4em;
    margin: 0.1em;
    cursor: pointer;

    font-weight: bold;
    border-radius: 0.2em;

    transition: 200ms;


    &:hover {
        filter: brightness(1.05);
    }
}